body {

    display: grid;
    grid-template-columns: 300px 1fr;
    
}

.grid_details {

    background: var(--white);
    padding: 2rem;
    width: 300px;
    height: 100%;
    display: flex;

    font-size: .875rem;
}